h3{
    background-color: blue;
}
body{
    background-color: aqua;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-style:italic;
}
.null{
    background-color: yellow;
}
img{
    aspect-ratio: 3/2;
    height:300;
    width:auto
}

.foo h3{
    background-color: blueviolet;
}
ul{
    list-style: none;
}
.container{
    display:flex;
    align-items: start;
    justify-content: left;
}
.hobby{
    background-color: aquamarine;
}

