h3{
    background-color: blue;
}
body{
    background-color: aqua;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-style:italic;
}
.null{
    background-color: yellow;
    padding:30px;
}
img{
    aspect-ratio: 3/2;
    height:300;
    width:auto
    
}

.foo h3{
    background-color: blueviolet;
}
ul{
    list-style: none;
}
.container{
    display:flex;
    align-items: start;
    justify-content: left;
}
.hobby{
    background-color: aquamarine;
}
label{
    display:block;
}
input{
    display:block;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding:8px;
    padding-left: 12px;
    background-color: cornsilk;
    color:blue;
}
button:hover{
    background-color: aquamarine;
    
}

